  .header {
    position: relative;
    // max-width: 1360px;
    z-index: 1002;
    width: 100%;

    color: white !important;
    background-color: #212121 !important;

    // border-style: solid !important;
    // border-width: 2px;
    // border-color: red !important;

    padding-left: 20px !important;
    padding-right: 20px !important;

    .logo {
      // border-style: solid !important;
      // border-width: 10px;
      // border-color: red !important;
      span {
        font-size: 32px;
        font-weight: bold;
        color: rgb(249, 255, 56);
      }
    }

    .main-menu {
      font-size: 14px;
      font-weight: 600;
      a {
        border-bottom: 2px solid transparent;
        height: 24px;
        margin-top: 8px;
        &.active {
          color: #d44444;
          border-bottom: 2px solid #d44444;
        }
      }
    }

    .connection-pane {
      // border-style: solid !important;
      // border-width: 1px;
      // border-color: red !important;


      button {
        // font-family: 'Times New Roman', Times, serif;
        // font-family: 'Microsoft YaHei UI Light';

        background-color: rgb(249, 255, 56);
        border-radius: 10px;

        background-image: linear-gradient(to right, rgb(199, 156, 13), rgb(20, 184, 170));

        width: 180px !important;
        height: 50px !important;

        color: white;
        font-size: 18px;
        font-weight: bold;
        text-align: center;        
        display: flex;
        &:hover {
          font-size: 20px !important;
        }
      }


      // .btn-mainnet {
      //   min-width: 150px;
      //   height: 40px;
      //   border-radius: 12px;
      //   padding: 10px 8px 10px 14px;
      //   background-color: #393939;
      //   font-size: 14px;
      //   font-weight: 600;
      //   color: #fff;
      //   justify-content: space-between;
      //   svg {
      //     fill: getColor(base);
      //   }
      // }

      // .btn-mainnet:disabled {
      //   color: #8d8585
      // }
    }

    .main-network-menu,
    .main-account-menu {

      // border-style: solid !important;
      // border-width: 1px;
      // border-color: red !important;

      z-index: 1235;
      position: absolute;
      background-color: getColor(dialogBgColor);
      width: 200px;
      border: 1px solid getColor(dialogBorderColor);
      border-radius: 12px;

      svg {
        width: 14px;
        height: 14px;
      }

      button {
        padding: 15px;
        font-size: 14px;
        font-weight: 600;
        width: 100%;
        text-align: start;
        display: flex;
      }
    }
    .main-network-menu {
      top: 72px;
      right: 145px;
    }
    .main-account-menu {
      top: 60px;
      right: 20px;
    }
  }
