.mint_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  // border-style: solid;
  // border-width: 1px;
  // border-color: red;

  margin-top: 100px !important;

  .mint_dsc {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: space-around;
    align-items: center;

    // border-style: solid;
    // border-width: 1px;
    // border-color: blue;

    // & div {
    //   border-style: solid;
    //   border-width: 1px;
    //   border-color: red;
    // }

    .dsc_title {
      color: rgb(249, 255, 56);
    }

    .dsc_content {
      text-align: justify;
      color: rgb(255, 255, 255);
    }

    .margin_top,
    .margin_bottom {
      min-height: 100px !important;

      // border-style: solid;
      // border-width: 10px;
      // border-color: red;
    }

    padding-left: 50px;
    padding-right: 50px;

    flex: 50%;
  }

  .mint_pane {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    // border-style: solid;
    // border-width: 1px;
    // border-color: blue;

    padding-left: 50px;
    padding-right: 50px;

    .mint_wrapper {
      border-style: solid;
      border-width: 4px;
      border-color: rgb(249, 255, 56);
      border-radius: 20px;

      padding: 20px !important;
      background-color: rgb(0, 0, 0);

      .mint_content {
        // border-style: solid;
        // border-width: 2px;
        // border-color: rgb(249, 255, 56);
        border-radius: 20px;

        padding: 20px !important;

        background-image: linear-gradient(to right, rgb(44, 44, 35), rgb(12, 12, 10));
  
        .mint_title {
          font-size: 36px;
          color: rgb(255, 255, 255);

          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          & img {
            width: 50px;
            height: 50px;

            margin-left: 20px;
          }

          margin-bottom: 20px;
        }

        .mint_state {
          // border-style: solid;
          // border-width: 1px;
          // border-color: red;

          font-size: 32px;
          color: rgb(249, 255, 56);

          margin-bottom: 20px;
        }

        .mint_counter_down {
          // border-style: solid;
          // border-width: 1px;
          // border-color: red;

          border-style: solid;
          border-width: 2px;
          border-color: rgb(117, 117, 49);
          border-radius: 10px;

          background-color: rgba(20, 20, 20, 50);

          padding-bottom: 20px !important;

          color: rgb(255, 255, 255);

          margin-bottom: 20px;
        }

        .mint_currency_select {
          // border-style: solid;
          // border-width: 1px;
          // border-color: red;

          margin-bottom: 20px;

          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;

          .currency_type {
            width: 150px;
            height: 50px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
  
            border-style: solid;
            border-width: 2px;
            border-color: rgb(117, 117, 49);
            border-radius: 10px;

            font-size: 20px;
  
            &.selected {
              background-image: linear-gradient(to right, rgb(117, 117, 49), rgb(20, 20, 10));
            }

            & img {
              max-width: 40px;
              max-height: 40px;

              margin-right: 20px;

              // border-style: solid;
              // border-width: 1px;
              // border-color: blue;
            }
          }
        }
  
        .mint_currency_panel {
          // border-style: solid;
          // border-width: 1px;
          // border-color: red;

          margin-bottom: 20px;

          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          .mint_currency_pay {
            // border-style: solid;
            // border-width: 1px;
            // border-color: blue;

            padding: 10px;

            width: 50%;
  
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;

            & span {
              color: rgb(162, 252, 103);
              margin-bottom: 10px;
            }

            & input {
              width: 100% !important;
              height: 50px;
              background-color: rgba(20, 20, 20, 50);

              border-style: solid;
              border-width: 2px;
              border-color: rgb(112, 112, 91);
              border-radius: 12px;

              padding: 20px;

              font-size: 24px;
              color: rgb(162, 252, 103);
            }
          }

          .mint_currency_receive {
            // border-style: solid;
            // border-width: 1px;
            // border-color: blue;
  
            padding: 10px;

            width: 50%;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;

            & span {
              color: rgb(162, 252, 103);
            }
            & span.title {
              margin-bottom: 10px;
            }
            & div.content {
              width: 100% !important;
              height: 50px;
              background-color: rgba(20, 20, 20, 50);

              border-style: solid;
              border-width: 2px;
              border-color: rgb(112, 112, 91);
              border-radius: 12px;

              font-size: 18px;

              display: flex;
              justify-content: center;
              align-items: center;

              & span {
                margin-left: 20px;
                font-size: 24px;
                color: rgb(162, 252, 103);
              }

              & img {
                max-width: 40px;
                max-height: 40px;

                margin-left: auto;
                margin-right: 20px;

                // border-style: solid;
                // border-width: 1px;
                // border-color: blue;
              }
            }
          }
        }

        .mint_currency_action {
          // border-style: solid;
          // border-width: 1px;
          // border-color: red;

          margin-bottom: 20px;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          & button {
            width: 80%;
            height: 50px;

            background-image: linear-gradient(to right, rgb(187, 187, 43), rgb(16, 37, 48));

            border-style: solid;
            border-width: 1px;
            border-color: rgb(117, 117, 49);
            border-radius: 10px;

            font-size: 20px;
            color: rgb(162, 252, 103);
          }
        }
      }
    }

    flex: 50%;
  }
  
  @media (max-width: 800px) {
    .mint_dsc, .mint_pane {
      flex: 100%;
    }
  }

  // .overview {
  //   .title {
  //     font-size: 28px;
  //     margin-bottom: 20px;
  //   }
  //   .content {
  //     gap: 20px;
  //     justify-content: center;
  //     .labels {
  //       gap: 20px;
  //       font-size: 16px;
  //       span {
  //         color: getColor(text1)
  //       }
  //     }
  //     .values {
  //       gap: 20px;
  //       font-size: 16px;
  //       text-align: right;
  //     }
  //   }
  // }
}

.mint-actions,
.mint-pool {
  width: 50%;
}
  
@media only screen and (max-width: 900px) {
  .mint-actions,
  .mint-pool {
    width: 100%;
  }
}